body {
  background-color: black;
}

/* ======= Navbar ======= */
.NavBarContainer {
  border: 1px solid black;
  background-color: grey;
}
.navItems {
  color: darkred;
  font-weight: bold;
}
.navItems:hover {
  color: red;
}

/* ======= Main Page ======= */
.mainPageContainer {
  border: 1px solid black;
  background-color: grey;
}
